<html>
<head>
        <title>DNSandMX : Logout</title>
        <link href = "/static/css/main.css" rel = "stylesheet" type =
		"text/css" />
</head>
<body>

<div class = "user_wrapper">
	<div class = "user_name">
        </div>
	<div class = "logo">
	<img src = "/static/images/logo.png" alt = "logo" />
	</div>
</div>
<div style = "clear: both;"></div>
<p />
<big>
For your security. You have been logged out and your session destroyed.
</big>
<p />

<big>
<a href = "/login/">Log</a> back in again.
<p />
Goto <a href = "http://<tmpl_var name = 'www_host' fmt = 'de_xss' />/">
<span style =
	"color: #647ba4;">DNS</span><span style =
	"color: #828282;">and</span><span style =
	"color: #647ba4;">MX</span>
</a>
</big>

</body>
</html>
