<html>
<head>
	<title>DNSandMX : Reset Password</title>
	<link href = "/static/css/main.css" rel = "stylesheet" type =
		"text/css" />
</head>
<body>

<div class = "user_wrapper">
	<div class = "logo">
		<a href = "/login/"><img src = "/static/images/logo.png"
			alt = "logo" /></a>
	</div>
</div>
<div style = "clear: both;"></div>
<p />

<tmpl_if name = "no_user" value = "yes">
	<h2 class = "lighter">
		There doesn't seem to be an account under the email address
		<p />
		<span class = "hblue"><tmpl_var name = 'email'
		fmt = 'de_xss' /></span></h2>
<tmpl_elsif name = "reset" value = "yes">
	<h2 class = "lighter">Your password has been changed.</span></h2>
	<h3 class = "lighter">Click <a href = "/login/">here</a> to login.</h3>
<tmpl_elsif name = "valid_key" value = "no">
	<h2 class = "lighter">No matching activation key found. This is most
	likely due to it expiring. Simply sign up again to have another
	activation link sent to you.</span></h2>
<tmpl_elsif name = "email_sent" value = "yes">
<h2 class = "lighter">An email has been sent to <span class
        = "hblue"><tmpl_var name = 'email' fmt = 'de_xss' /></h2>

<big class = "lighter">
It will come from <b>noreply@dnsandmx.com</b> with the subject of <b>DNSandMX
Password Reset Request</b>
<p />
Once you receive this email you need to visit the link within, either by
clicking it or by copy and pasting it into your browser.
<p />
This link is valid for 24 hours,
<p />
If you fail to receive the email check your spam filters etc. You can click
the forgotten password link and provide you email address again to have another
email sent to you.
</big>

<tmpl_elsif name = "valid_key" value = "yes">
	<h2 style = "color: #000000;"><span style =
		"color: #647ba4;">DNS</span><span style =
		"color: #828282;">and</span><span style =
		"color: #647ba4;">MX</span> Password Reset for
		<span class = "hblue"><tmpl_var name = "email_addr" fmt =
		"de_xss" /></h2>
	<h3 class = "lighter">
	To complete your password reset please set a password. The password
	should be at least 8 characters long.
	</h3>
	<p />

	<form action = "/reset_password/" method = "POST">
	<table>
	<tbody>
	<tr>
	<td></td>
	<td>
		<tmpl_if name = "pass_error" value = "mismatch">
			<span class = "t_red">Passwords do not match</span><br />
		<tmpl_elsif name = "pass_error" value = "length">
			<span class = "t_red">Password should be at least 8 characters long</span><br />
		</tmpl_if>
	</td>
	</tr>
	<tr>
	<td>Password </td>
	<td>
		<input type = "password" name = "dax_pass1" size = "12"
		maxlength = "64" autocomplete = "off" class = "
		<tmpl_if name = 'pass_error'>
			input_error
		</tmpl_if>
		" />
	</td>
	</tr>
	<tr>
	<td>Re-type </td>
	<td><input type = "password" name = "dax_pass2" size = "12"
		maxlength = "64" autocomplete = "off" class = "
		<tmpl_if name = 'pass_error'>
			input_error
		</tmpl_if>
		" />
	</td>
	</tr>
	</tbody>
	</table>

<p />

<div style = "width; 100%">
<div style = "width: 90%; float: left;">
	<input type = "hidden" name = "email_addr" value = "<tmpl_var name =
		'email_addr' fmt = 'de_xss' />" />
	<input type = "hidden" name = "key" value = "<tmpl_var name = 'key'
		fmt = 'de_xss' />" />
	<input type = "hidden" name = "reset_password" value = "yes" />
	<input type = "image" src = "/static/images/set.png" border = "0"
		height = "36" name = "submit" alt = "Set" />
	</form>
</div>
</div>

<tmpl_else>
<h2 class = "lighter">
To reset your password please provide the email address you use to login with.
</h2>

<center>
	<form action = "/reset_password/" method = "POST">
	<table>
	<tbody>
	<tr>
	<td>
		<input type = "email" placeholder = "&nbsp;email address"
			autocomplete = "off" name = "email_addr" size = "30"
			maxlength = "255" style = "font-size: 18px" />
	</td>
	<td>
		<input type = "image" src = "/static/images/submit.png"
			border = "0" height = "36" alt = "Submit" />
	</td>
	<tr>
	</tbody>
	</table>
	<input type = "hidden" name = "send_email" value = "yes" />
	</form>
</center>
</tmpl_if>

</body>
</html>
