SESSION_DB=/dev/shm/dax-sessions.tct
APP_HOST=admin.example.com
WWW_HOST=www.example.com
PRIMARY_NS=ns1.example.com
SECONDARY_NS=ns2.example.com
PRIMARY_NS_IP=192.168.1.21
DB_HOST=ns1.example.com
DB_SHOST=ns2.example.com
DB_USER=
DB_PASS=
DB_NAME=dnsandmx_admin
MAIL_CMD=/usr/sbin/sendmail -f app@example.com -t
MAIL_FROM=noreply@example.com
PAYPAL_BID=XXXXXXXXXXX
PAYPAL_REC_EMAIL=seller@example.com
PAYPAL_HOST=www.paypal.com
DEBUG_LEVEL=1
NR_PROCS=4
